[submodule "Livesplit/Livesplit"]
	path = Livesplit/Livesplit
	url = https://github.com/LiveSplit/LiveSplit.git
[submodule "Livesplit/Livesplit.ScriptableAutoSplit"]
	path = Livesplit/Livesplit.ScriptableAutoSplit
	url = https://github.com/LiveSplit/LiveSplit.ScriptableAutoSplit.git
[submodule "Livesplit/Livesplit.AutoSplittingRuntime"]
	path = Livesplit/Livesplit.AutoSplittingRuntime
	url = https://github.com/LiveSplit/LiveSplit.AutoSplittingRuntime.git
[submodule "Livesplit/SpeedrunComSharp"]
	path = Livesplit/SpeedrunComSharp
	url = https://github.com/LiveSplit/SpeedrunComSharp.git
